<div class="row mt3">
  <div class="col-5 col-sm-3 col-md-3 col-lg-2"></div>
  <div class="col">
    <h3>Listado De Propiedades</h3>
    <hr>
  </div>
  <div class="col-1"></div>
</div>

<div class="row mt-2">
  <div class="col-5 col-sm-3 col-md-3 col-lg-2"></div>

  <div class="col">

    <div class="row">

      <!-- Houses -->
      <div *ngFor="let house of houses" class="col-12 col-md-6 mb-4">
        <div class="card">

          <maps-mini-map [lngLat]="house.lngLat"></maps-mini-map>
          <div class="card-body">

            <h5 class="card-title">
              {{ house.title }}
            </h5>

            <p class="card-text">
              {{ house.description }}
            </p>

          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="col-1"></div>
  <counter-alone class="m-3" [counter]="25"></counter-alone>
</div>



